body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #564e4e;
}

.scroll-lock {
  overflow: hidden;
}

.container {
  max-width: 1760px;
  margin: 0 auto;
}
@media (max-width: 1800px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 769px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
}
@media (max-width: 769px) {
  h2 {
    font-size: 18px;
    line-height: 200%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  max-width: 834px;
  margin-bottom: 40px;
}
@media (max-width: 769px) {
  h1 {
    font-size: 22px;
    line-height: 27px;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.header {
  background: #e5e5e5;
  color: #fff;
  position: relative;
  z-index: 100;
  padding-bottom: 388px;
}
@media (max-width: 769px) {
  .header {
    padding-bottom: 117px;
  }
}
.header .swiper-header {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -100;
  top: 0;
  left: 0;
}
.header .swiper-header .swiper-slide {
  background: url(img/header-bg.jpg) top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.header .swiper-header .swiper-slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
}
.header .swiper-header .swiper-pagination {
  bottom: 62px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header .swiper-header .swiper-pagination .swiper-pagination-bullet {
  background: #fadcd9;
  opacity: 1;
  width: 10px;
  height: 10px;
}
.header .swiper-header .swiper-pagination .swiper-pagination-bullet-active {
  background: #f79489;
  opacity: 1;
  width: 10px;
  height: 10px;
}
.header nav {
  padding-top: 40px;
}
.header nav .nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav .nav__wrapper .nav__menu--right {
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 10px;
}
.header nav .nav__wrapper .nav__menu--right .burger-btn {
  position: relative;
  width: 30px;
  height: 18px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  display: none;
}
.header nav .nav__wrapper .nav__menu--right .burger-btn span, .header nav .nav__wrapper .nav__menu--right .burger-btn::before, .header nav .nav__wrapper .nav__menu--right .burger-btn::after {
  width: 100%;
  height: 3px;
  background: #fff;
  transition: 0.6s;
}
.header nav .nav__wrapper .nav__menu--right .burger-btn::before, .header nav .nav__wrapper .nav__menu--right .burger-btn::after {
  content: "";
  position: absolute;
  left: 0;
}
.header nav .nav__wrapper .nav__menu--right .burger-btn::before {
  top: 0;
}
.header nav .nav__wrapper .nav__menu--right .burger-btn::after {
  bottom: 0;
}
.header nav .nav__wrapper .nav__menu--right .burger-btn span {
  transform: scale(1);
}
@media (max-width: 769px) {
  .header nav .nav__wrapper .nav__menu--right .burger-btn {
    display: flex;
    z-index: 999;
  }
  .header nav .nav__wrapper .nav__menu--right .burger-btn.active span {
    transform: scale(0);
    background: #fff;
  }
  .header nav .nav__wrapper .nav__menu--right .burger-btn.active::before {
    top: 45%;
    transform: rotate(45deg);
    background: #fff;
  }
  .header nav .nav__wrapper .nav__menu--right .burger-btn.active::after {
    bottom: 40%;
    transform: rotate(-45deg);
    background: #fff;
  }
}
.header nav .nav__wrapper .nav__logo {
  flex-shrink: 0;
}
.header nav .nav__wrapper .nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  flex-shrink: 1;
}
@media (max-width: 769px) {
  .header nav .nav__wrapper .nav__menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    left: 0;
    top: 0;
    width: 0;
    transition: 0.4s;
    height: 100%;
  }
  .header nav .nav__wrapper .nav__menu.active {
    opacity: 1;
    width: 100%;
  }
  .header nav .nav__wrapper .nav__menu .nav-dropdown.active .nav-dropdown__list {
    left: 100px;
    background: #fadcd9;
    color: #000;
  }
}
.header nav .nav__wrapper .nav__menu .nav__list .nav__link {
  color: inherit;
}
.header nav .nav__wrapper .nav__menu .nav-dropdown {
  position: relative;
}
.header nav .nav__wrapper .nav__menu .nav-dropdown .nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  line-height: 27px;
}
.header nav .nav__wrapper .nav__menu .nav-dropdown .nav-dropdown__list {
  display: none;
}
.header nav .nav__wrapper .nav__menu .nav-dropdown.active .nav-dropdown__list {
  display: block;
  position: absolute;
  left: 20px;
  top: 30px;
  padding: 10px 25px 10px 10px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.header nav .nav__wrapper .nav__menu .nav-dropdown.active .nav-dropdown__list .nav-dropdown__link {
  color: inherit;
  font-size: 18px;
  line-height: 27px;
}
.header .header__title {
  padding-top: 161px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 769px) {
  .header .header__title {
    padding-top: 40px;
  }
  .header .header__title p {
    font-size: 14px;
    line-height: 200%;
    max-width: 80%;
    margin-bottom: 20px;
  }
  .header .header__title form {
    max-width: 280px;
  }
}
.header .header__title p {
  max-width: 574px;
  margin-bottom: 60px;
}
.header .header__title form {
  position: relative;
  max-width: 360px;
  width: 100%;
  z-index: -1;
}
.header .header__title form button {
  background: transparent;
  border: none;
  position: absolute;
  top: 4px;
  right: 0;
  cursor: pointer;
}
.header .header__title form input {
  padding: 16px 19px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
  border-radius: 30px;
  width: calc(100% - 40px);
}
.header .header__title form input::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
  color: #fff;
}
.header .header__title form input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
  color: #fff;
}
.header .header__title form input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
  color: #fff;
}

.benefits {
  padding-top: 80px;
  padding-bottom: 200px;
}
@media (max-width: 769px) {
  .benefits {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .benefits h2 {
    display: none;
  }
}
.benefits .benefits__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.benefits .benefits__wrapper .benefit-item {
  padding: 16px 20px 20px;
  flex-basis: 20%;
}
.benefits .benefits__wrapper .benefit-item:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fadcd9;
  box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
  border-radius: 10px;
}
.benefits .benefits__wrapper .benefit-item img {
  max-width: 60px;
  max-height: 60px;
}
.benefits .benefits__wrapper .benefit-item .benefit-item__title {
  margin: 10px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
}
.benefits .benefits__wrapper .benefit-item .benefit-item__text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 200%;
}
.benefits .benefits__wrapper .benefit-item .benefit-item__link {
  font-size: 18px;
  line-height: 200%;
  color: #f79489;
}
@media (max-width: 1200px) {
  .benefits .benefits__wrapper .benefit-item {
    flex-basis: 40%;
  }
}
@media (max-width: 769px) {
  .benefits .benefits__wrapper .benefit-item {
    flex: 1 1 100%;
  }
  .benefits .benefits__wrapper .benefit-item img {
    width: 28px;
    height: 28px;
  }
  .benefits .benefits__wrapper .benefit-item .benefit-item__title {
    font-size: 14px;
    line-height: 200%;
  }
  .benefits .benefits__wrapper .benefit-item .benefit-item__text {
    font-size: 14px;
    line-height: 200%;
  }
  .benefits .benefits__wrapper .benefit-item .benefit-item__link {
    font-size: 14px;
    line-height: 200%;
  }
}

.vizualize .vizualize__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 33px;
}
@media (max-width: 1200px) {
  .vizualize .vizualize__wrapper {
    flex-direction: column;
  }
}
.vizualize .vizualize__wrapper .vizualize__content {
  overflow-y: auto;
  max-height: 540px;
  flex: 1 1 50%;
  padding-right: 20px;
  /* Handle */
}
.vizualize .vizualize__wrapper .vizualize__content::-webkit-scrollbar {
  width: 2px;
}
.vizualize .vizualize__wrapper .vizualize__content::-webkit-scrollbar-track {
  background: #fadcd9;
}
.vizualize .vizualize__wrapper .vizualize__content::-webkit-scrollbar-thumb {
  background: #f79489;
}
.vizualize .vizualize__wrapper .vizualize__content .vizualize__title {
  max-width: 810px;
}
@media (max-width: 769px) {
  .vizualize .vizualize__wrapper .vizualize__content .vizualize__title {
    font-size: 14px;
    line-height: 200%;
    font-weight: 500;
  }
}
.vizualize .vizualize__wrapper .vizualize__content .vizualize__title .vizualize__subtitle {
  margin: 20px auto;
}
@media (max-width: 769px) {
  .vizualize .vizualize__wrapper .vizualize__content .vizualize__title .vizualize__subtitle {
    font-size: 14px;
    line-height: 200%;
  }
}
.vizualize .vizualize__wrapper .vizualize__content .vizualize-faq {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  max-width: 810px;
}
.vizualize .vizualize__wrapper .vizualize__content .vizualize-faq .vizualize-faq__item {
  width: 100%;
  cursor: pointer;
}
.vizualize .vizualize__wrapper .vizualize__content .vizualize-faq .vizualize-faq__item .vizualize-faq__title {
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 200%;
}
.vizualize .vizualize__wrapper .vizualize__content .vizualize-faq .vizualize-faq__item .vizualize-faq__title::after {
  content: url(img/icons/plus.svg);
  position: absolute;
  right: 0;
  top: 10%;
}
.vizualize .vizualize__wrapper .vizualize__content .vizualize-faq .vizualize-faq__item .vizualize-faq__content {
  display: none;
  opacity: 0;
  transition: all ease 0.4s;
}
.vizualize .vizualize__wrapper .vizualize__content .vizualize-faq .vizualize-faq__item.active .vizualize-faq__content {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 20px;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 769px) {
  .vizualize .vizualize__wrapper .vizualize__content .vizualize-faq .vizualize-faq__item.active .vizualize-faq__content {
    font-size: 14px;
    line-height: 200%;
  }
}
.vizualize .vizualize__wrapper .vizualize__content .vizualize-faq .vizualize-faq__item.active .vizualize-faq__title::after {
  content: url(img/icons/minus.svg);
}
.vizualize .vizualize__wrapper .vizualize__link {
  color: #f79489;
  margin-top: 20px;
}
.vizualize .vizualize__wrapper .vizualize__img {
  flex: 1 1 50%;
}

.products {
  padding-top: 200px;
  padding-bottom: 167px;
}
@media (max-width: 769px) {
  .products {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .products .products__wrapper {
    flex-wrap: wrap;
  }
  .products .products__wrapper .product__item {
    flex: 1 1 40%;
    padding-bottom: 0;
  }
  .products .products__wrapper .product__item .product-item__name {
    font-size: 14px;
    line-height: 200%;
  }
  .products .products__wrapper .product__item .product-item__category {
    font-size: 14px;
    line-height: 200%;
  }
  .products .products__wrapper .product__item .product-item__rating {
    margin-bottom: 0;
  }
  .products .products__wrapper .product__item .product-item__rating img {
    width: 12px;
    margin-bottom: 0;
  }
}
.products h2 {
  text-align: center;
  margin-bottom: 40px;
}
.products .products__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.products .products__wrapper .product__item {
  padding-bottom: 33px;
}
.products .products__wrapper .product__item img {
  margin-bottom: 20px;
}
.products .products__wrapper .product__item .product-item__name {
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 10px;
}
.products .products__wrapper .product__item .product-item__category {
  font-size: 14px;
  line-height: 200%;
  color: #c4c4c4;
  margin-bottom: 10px;
}
.products .products__wrapper .product__item .product-item__rating {
  margin-bottom: 20px;
}
.products .products__wrapper .product__item .product-item__rating span img {
  max-width: 16px;
  max-height: 16px;
}
.products .products__wrapper .product__item .product-item__article {
  font-size: 14px;
  line-height: 200%;
}

.reviews {
  background: linear-gradient(279.85deg, #ffffff 0%, #faf5f2 100%);
  padding-top: 84px;
}
.reviews h2 {
  text-align: center;
  margin-bottom: 110px;
}
@media (max-width: 769px) {
  .reviews h2 {
    margin-bottom: 40px;
  }
}
.reviews .reviews__wrapper {
  display: flex;
  gap: 70px;
  min-height: 286px;
}
@media (max-width: 1200px) {
  .reviews .reviews__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 769px) {
  .reviews .reviews__wrapper {
    gap: 40px;
  }
}
.reviews .reviews__wrapper .reviews__item {
  flex-basis: 33.33%;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
  gap: 20px;
}
.reviews .reviews__wrapper .reviews__item .review-content .review-content__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
}
@media (max-width: 769px) {
  .reviews .reviews__wrapper .reviews__item .review-content .review-content__title {
    font-size: 16px;
    line-height: 200%;
  }
}
.reviews .reviews__wrapper .reviews__item .review-content .review-content__text {
  font-size: 18px;
  line-height: 200%;
}
@media (max-width: 769px) {
  .reviews .reviews__wrapper .reviews__item .review-content .review-content__text {
    font-size: 14px;
    line-height: 200%;
  }
}
.reviews .reviews__wrapper .reviews__item .reviews-item__author {
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 10px;
}
.reviews .reviews__wrapper .reviews__item .reviews-item__author .avatar {
  width: 60px;
  height: 60px;
}
.reviews .reviews__wrapper .reviews__item .reviews-item__author .reviews-item__name .name {
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
}
.reviews .reviews__wrapper .reviews__item .reviews-item__author .reviews-item__name .proffession {
  font-weight: 300;
  font-size: 14px;
  line-height: 200%;
}
.reviews .swiper-reviews {
  padding-bottom: 248px;
}
@media (max-width: 769px) {
  .reviews .swiper-reviews {
    padding-bottom: 100px;
  }
}
.reviews .swiper-pagination {
  bottom: 62px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.reviews .swiper-pagination .swiper-pagination-bullet {
  background: #fadcd9;
  opacity: 1;
  width: 10px;
  height: 10px;
}
.reviews .swiper-pagination .swiper-pagination-bullet-active {
  background: #f79489;
  opacity: 1;
  width: 10px;
  height: 10px;
}

.make-your-home {
  padding: 200px 0;
}
@media (max-width: 769px) {
  .make-your-home {
    padding: 50px 0;
  }
}
.make-your-home .make__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  gap: 80px;
}
@media (max-width: 1200px) {
  .make-your-home .make__wrapper {
    flex-direction: column;
  }
}
.make-your-home .make__wrapper .make__img {
  flex: 0 1 50%;
}
@media (max-width: 1200px) {
  .make-your-home .make__wrapper .make__img {
    order: 2;
  }
}
.make-your-home .make__wrapper .make__content {
  flex: 1 0 50%;
}
.make-your-home .make__wrapper .make__content h2 {
  margin-bottom: 20px;
}
.make-your-home .make__wrapper .make__content p {
  font-size: 18px;
  line-height: 200%;
}
@media (max-width: 769px) {
  .make-your-home .make__wrapper .make__content p {
    font-size: 16px;
  }
}
.make-your-home .make__wrapper .make__content > p {
  margin-bottom: 1em;
}
.make-your-home .make__wrapper form {
  margin-top: 40px;
  position: relative;
  max-width: 400px;
}
.make-your-home .make__wrapper form button {
  background: transparent;
  border: none;
  position: absolute;
  top: 4px;
  right: 0;
  cursor: pointer;
}
.make-your-home .make__wrapper form input {
  width: calc(100% - 44px);
  padding: 18px 20px;
  background: #fefcfb;
  border: 1px solid #fadcd9;
  border-radius: 30px;
}
.make-your-home .make__wrapper form input::-moz-placeholder {
  font-size: 14px;
  line-height: 200%;
  color: #f79489;
}
.make-your-home .make__wrapper form input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 200%;
  color: #f79489;
}
.make-your-home .make__wrapper form input::placeholder {
  font-size: 14px;
  line-height: 200%;
  color: #f79489;
}

footer {
  padding: 100px 0 264px;
  background: linear-gradient(275.58deg, #000000 0%, #4b4b4b 100%);
}
@media (max-width: 769px) {
  footer {
    padding: 50px 0;
  }
}
footer .footer__wrapper {
  display: flex;
  justify-content: unset;
  align-items: unset;
  gap: 40px;
}
@media (max-width: 1200px) {
  footer .footer__wrapper {
    flex-direction: column;
    gap: 50px;
  }
}
footer .footer__wrapper .footer__wrapper-logo {
  margin-right: 34px;
  flex-basis: 238px;
}
@media (max-width: 1200px) {
  footer .footer__wrapper .footer__wrapper-logo {
    max-width: 238px;
    max-height: 70px;
    flex: 1 0 100%;
    width: 100%;
  }
}
@media (max-width: 769px) {
  footer .footer__wrapper .footer__wrapper-logo {
    max-width: 178px;
  }
}
footer .footer__wrapper .footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex: 1 1 auto;
  gap: 40px;
}
@media (max-width: 1200px) {
  footer .footer__wrapper .footer-menu {
    flex-basis: 40%;
  }
}
@media (max-width: 992px) {
  footer .footer__wrapper .footer-menu {
    flex-basis: 100%;
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) and (max-width: 576px) {
  footer .footer__wrapper .footer-menu {
    flex-basis: 100%;
    flex-wrap: wrap;
  }
}
footer .footer__wrapper .footer-menu .footer-menu__col {
  flex: 1 1 20%;
}
@media (max-width: 992px) {
  footer .footer__wrapper .footer-menu .footer-menu__col {
    flex: 1 1 40%;
  }
}
@media (max-width: 576px) {
  footer .footer__wrapper .footer-menu .footer-menu__col {
    flex: 1 1 100%;
  }
}
footer .footer__wrapper .footer-menu .footer-menu__col .footer-menu__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #fadcd9;
  margin-bottom: 20px;
}
@media (max-width: 769px) {
  footer .footer__wrapper .footer-menu .footer-menu__col .footer-menu__title {
    font-size: 18px;
  }
}
footer .footer__wrapper .footer-menu .footer-menu__col .footer-menu__list {
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: column;
  gap: 24px;
}
footer .footer__wrapper .footer-menu .footer-menu__col .footer-menu__list .footer-menu__item .footer-menu__link {
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
@media (max-width: 769px) {
  footer .footer__wrapper .footer-menu .footer-menu__col .footer-menu__list .footer-menu__item .footer-menu__link {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */